
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/



/* General syles
***************************************************/

html {
  font-size: 16px;
}

body {
  .font("Stabil Grotesk");
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.66666667;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  @media @desktop {
    padding: 1.5rem;
  }
}

.content-container { }

.site-footer {
}


a {
  text-decoration: none;

  &, &:hover, &:visited {
    color: @black;
  }
}

hr {
  border: none;
  width: 148px;
  height: 14px !important;
  background: url("/assets/img/post-separator.svg") no-repeat center center;
}



/* Homepage
***************************************************/

body.homepage { }



/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}


