
/* General syles
***************************************************/

* {
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 16px;
}

body {
  .font("Stabil Grotesk");
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;

  &, &:hover, &:visited {
    color: @black;
  }
}

p {
  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      height: .25em;
      background: @primary;
      transition: all .2s ease-in-out;
    }

    &:hover {
      &::after {
        height: 1em;
      }
    }
  }
}

hr {
  border: none;
  width: 148px;
  height: 14px !important;
  background: url("/assets/img/separator.svg") no-repeat center center;
}





// =======================================================

//    Loader

// =======================================================

.site-loader {
  position: fixed;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: .25rem;
  z-index: 9999;
  background-color: transparent;
  transition: background-color 0.3s ease-out, transform 0s 0.3s linear;

  [data-mercury-loading] & {
    background-color: @black;
    transition: transform 0.3s cubic-bezier(0, 0, 0, 0.6);
    transform: translateX(60%);
  }

  [data-mercury-loading="done"] & {
    transform: translateX(100%);
  }
  
  // Only show if enabled

  display: none;

  .tweak-site-ajax-loading-enable.tweak-site-ajax-loading-bar-show & {
    display: block;
  }
}

// Transition content
.content-container {
  opacity: 1;
  transition: opacity .4s @ease;

  [data-mercury-loading="start"] & {
    opacity: 0;
  }
}

img[data-src] {
  opacity: 0;
  transition: opacity .4s @ease, transform .4s @ease;

  &.is-loaded {
    opacity: 1;
  }
}

// Hide elements using ContentRevealer until loaded
html.sr {
  .post-list__item,
  .post-header > *,
  .sqs-block-image .image-block-wrapper {
    visibility: hidden;
  }
}



/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}

