
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -@grid-spacing;
  margin-right: -@grid-spacing;

  .grid-item {
    flex: 0 0 auto;
    padding-left: @grid-spacing;
    padding-right: @grid-spacing;

    &--half {
      flex-basis: 50%;
      max-width: 50%;
    }
    &--third {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
    }
  }
}

.container {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: @grid-spacing;
  padding-right: @grid-spacing;
}