
@font-stack: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue";

.font(@font-name) {
  font-family: @font-name, @font-stack;
}


@color-yellow: #FFF371;
@color-black: #000000;
@color-white: #FFFEF5;